*
{
    box-sizing: border-box;
    margin:0%;
    padding:0%;
}

html
{
    font-family: 'Oswald', sans-serif;
}
.mainPart
{
    
    margin:2rem;
    width:100%;
    height:100%;
}
.image
{
    border-radius: 8px;
    border:transparent;
    margin-right: 0.5rem;
    margin-left:1rem;
}
.info
{
    margin-top:1rem;
    margin-left:1rem;
    margin-right: 1rem;
}

.heading
{
    color:hsl(205, 72%, 37%);
    font-weight: bolder;
    letter-spacing: 4px;
    font-size: 24px;
}
.introduction
{
    padding-top:0.75rem ;
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: 3px;

}
.content
{
    padding-top: 2rem;
    letter-spacing: 3px;
    font-size: 15px;
    color:hsl(209,23%,60%);
}
.timing
{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.block
{
    color:white;
    background-color: hsl(209,61%,16%);
    padding:0.5rem;
    margin-right: 0.5rem;

}
.num
{
    font-size: 20px;
    letter-spacing: 3px;
}
.time
{
    font-size: 18px;
    letter-spacing: 4px;
}
@media(max-width:800px)
{
    .mainPart
    {
        display: flex;
        flex-direction: column;
    }
    .image
    {
        width:92%;
        height:50%;
    }
    .pic
    {
        width:100%;
        height:100%;
    }
    .info
    {
        width:90%;
        height:50%;
    }
}
@media(min-width:800px)
{
    .mainPart
    {
        display: flex;
        flex-direction: row;
    }
    .image
    {
        width:50%;
        height:80%;
    }
    .pic
    {
        width:100%;
        height:100%;
    }
    .info
    {
        width:50%;
        height:80%;
    }
}

