*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html
    {
        font-family: 'Baloo Tammudu 2', cursive;
    }
    .midsec
        {
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
           
        }
  .heading
    {
        margin-top:200px;
        font-size: 60px;
        font-weight: 600;
        color: black;
        padding:2px;
    }  
    .number
    {
        margin-top: 5px;
        font-size: 100px;
        font-weight: 600;
        color: black;
        padding:2px;
    }
    .buttonset
        {
            display: flex;
            flex-direction: row;
        }
    .btn{
       
        padding:1px;
        padding-bottom: 1px;
        border-radius: 15px;
        border: black solid 2px;
        width:150px;
        text-align: center;
        justify-content: center;
        margin:8px;
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 200;
    }
    .btn:hover
    {
        background-color: black;
        color: white;
        font-weight: 50;
        transition: ease-in 0.05s;
        cursor: pointer;
    }